<!-- <div class="h-screen flex items-center justify-center">
  <form class="border-4 border-green-300 w-1/3 flex justify-center items-center p-12 flex-col gap-6 m-auto" action=""
    method="post">
    <img src="../../../assets/icons/spotify-icon.svg" alt="Spotify icon" class="size-20">
    <h1 class="text-3xl font-bold ">Spotify</h1>
    <label for="user" class="flex flex-col w-1/2 text-xl">
      User:
      <input type="text" name="user" id="userLogin" class="border-green-300 border-2">
    </label>
    <label for="passwd" class="flex flex-col w-1/2 text-xl">
      Password:
      <input type="text" name="passwd" id="passwdLogin" class="border-green-300 border-2">
    </label>
    <input type="submit" value="Iniciar sesión"
      class="p-6 bg-green-300! text-black! rounded-2xl w-1/2 font-bold hover:scale-120 duration-300 ease-in-out">
  </form>
</div> -->